<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Magic10_001170.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{56,968},{6,36}}</string>
                <key>offset</key>
                <string>{23,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,41},{6,36}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001171.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{56,1006},{10,28}}</string>
                <key>offset</key>
                <string>{23,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,45},{10,28}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001172.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{2120,766},{94,84}}</string>
                <key>offset</key>
                <string>{19,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,9},{94,84}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001173.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1700,2},{210,154}}</string>
                <key>offset</key>
                <string>{21,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,0},{210,154}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001174.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1460,260},{152,254}}</string>
                <key>offset</key>
                <string>{21,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,0},{152,254}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001175.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1386,544},{150,256}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,0},{150,256}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001176.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2},{228,252}}</string>
                <key>offset</key>
                <string>{-34,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,3},{228,252}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001177.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{230,256}}</string>
                <key>offset</key>
                <string>{-33,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{230,256}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001178.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1224,286},{234,256}}</string>
                <key>offset</key>
                <string>{-32,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{234,256}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001179.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{324,256}}</string>
                <key>offset</key>
                <string>{12,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,0},{324,256}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001180.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,256}}</string>
                <key>offset</key>
                <string>{22,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,0},{340,256}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001181.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{294,274}}</string>
                <key>offset</key>
                <string>{21,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,0},{294,274}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001182.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{296,274}}</string>
                <key>offset</key>
                <string>{22,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,0},{296,274}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001183.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{260,298},{294,256}}</string>
                <key>offset</key>
                <string>{21,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,17},{294,256}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001184.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{294,252}}</string>
                <key>offset</key>
                <string>{21,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,21},{294,252}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001185.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{772,298},{294,252}}</string>
                <key>offset</key>
                <string>{21,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,21},{294,252}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001186.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{532,594},{294,252}}</string>
                <key>offset</key>
                <string>{21,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,21},{294,252}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001187.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{294,252}}</string>
                <key>offset</key>
                <string>{21,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,21},{294,252}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001188.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{518,298},{294,252}}</string>
                <key>offset</key>
                <string>{21,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,21},{294,252}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001189.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{278,670},{294,252}}</string>
                <key>offset</key>
                <string>{21,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,21},{294,252}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001190.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{786,594},{294,240}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,33},{294,240}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001191.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1026,298},{290,196}}</string>
                <key>offset</key>
                <string>{22,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,75},{290,196}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001192.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{282,192}}</string>
                <key>offset</key>
                <string>{22,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,75},{282,192}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001193.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1028,590},{274,180}}</string>
                <key>offset</key>
                <string>{23,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,80},{274,180}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001194.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1210,590},{258,174}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,80},{258,174}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001195.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1538,516},{232,154}}</string>
                <key>offset</key>
                <string>{29,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,81},{232,154}}</string>
                <key>sourceSize</key>
                <string>{462,306}</string>
            </dict>
            <key>Magic10_001290.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{158,968},{24,86}}</string>
                <key>offset</key>
                <string>{24,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,32},{24,86}}</string>
                <key>sourceSize</key>
                <string>{72,176}</string>
            </dict>
            <key>Magic10_001291.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{64,968},{24,92}}</string>
                <key>offset</key>
                <string>{24,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,30},{24,92}}</string>
                <key>sourceSize</key>
                <string>{72,176}</string>
            </dict>
            <key>Magic10_001292.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{86,994},{24,88}}</string>
                <key>offset</key>
                <string>{24,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,29},{24,88}}</string>
                <key>sourceSize</key>
                <string>{72,176}</string>
            </dict>
            <key>Magic10_001450.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{52,54}}</string>
                <key>offset</key>
                <string>{22,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,50},{52,54}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001451.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1528,802},{220,148}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{220,148}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001453.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1204,866},{178,156}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,20},{178,156}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001454.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1678,750},{196,174}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,16},{196,174}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001457.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1384,850},{170,142}}</string>
                <key>offset</key>
                <string>{24,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,32},{170,142}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001458.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1854,852},{170,140}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,27},{170,140}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001459.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1842,214},{184,134}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,32},{184,134}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001460.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{2036,522},{158,142}}</string>
                <key>offset</key>
                <string>{29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,31},{158,142}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001461.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1996,852},{168,152}}</string>
                <key>offset</key>
                <string>{31,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,31},{168,152}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001462.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1984,354},{166,148}}</string>
                <key>offset</key>
                <string>{29,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,24},{166,148}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001463.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1854,672},{178,150}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,20},{178,150}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001464.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1978,184},{168,150}}</string>
                <key>offset</key>
                <string>{31,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,22},{168,150}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001465.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1970,2},{180,160}}</string>
                <key>offset</key>
                <string>{28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,17},{180,160}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001466.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1694,478},{192,174}}</string>
                <key>offset</key>
                <string>{20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,16},{192,174}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001469.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{2130,184},{166,144}}</string>
                <key>offset</key>
                <string>{28,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,32},{166,144}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001470.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{2134,352},{164,140}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,22},{164,140}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001471.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{2132,2},{152,96}}</string>
                <key>offset</key>
                <string>{28,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,62},{152,96}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_001472.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{2230,2},{138,96}}</string>
                <key>offset</key>
                <string>{21,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,62},{138,96}}</string>
                <key>sourceSize</key>
                <string>{274,190}</string>
            </dict>
            <key>Magic10_002330.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{410,594},{62,62}}</string>
                <key>offset</key>
                <string>{24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,17},{62,62}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>Magic10_002331.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1870,580},{90,80}}</string>
                <key>offset</key>
                <string>{19,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,9},{90,80}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>Magic10_002332.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1952,580},{88,82}}</string>
                <key>offset</key>
                <string>{20,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>Magic10_002333.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{2120,666},{92,98}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{92,98}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>Magic10_002347.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{260,594},{74,82}}</string>
                <key>offset</key>
                <string>{25,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,6},{74,82}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>Magic10_002348.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{344,594},{64,70}}</string>
                <key>offset</key>
                <string>{24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,10},{64,70}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>Magic10_002490.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1856,2},{112,182}}</string>
                <key>offset</key>
                <string>{32,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,80},{112,182}}</string>
                <key>sourceSize</key>
                <string>{224,444}</string>
            </dict>
            <key>Magic10_002491.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1870,400},{112,178}}</string>
                <key>offset</key>
                <string>{32,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{112,178}}</string>
                <key>sourceSize</key>
                <string>{224,444}</string>
            </dict>
            <key>Magic10_002492.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{2006,670},{112,174}}</string>
                <key>offset</key>
                <string>{32,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{112,174}}</string>
                <key>sourceSize</key>
                <string>{224,444}</string>
            </dict>
            <key>Magic10_002493.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1614,256},{112,220}}</string>
                <key>offset</key>
                <string>{32,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,42},{112,220}}</string>
                <key>sourceSize</key>
                <string>{224,444}</string>
            </dict>
            <key>Magic10_002494.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{980,890},{112,222}}</string>
                <key>offset</key>
                <string>{32,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,40},{112,222}}</string>
                <key>sourceSize</key>
                <string>{224,444}</string>
            </dict>
            <key>Magic10_002495.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{1728,214},{112,188}}</string>
                <key>offset</key>
                <string>{32,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,74},{112,188}}</string>
                <key>sourceSize</key>
                <string>{224,444}</string>
            </dict>
            <key>Magic10_002496.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{756,890},{112,222}}</string>
                <key>offset</key>
                <string>{32,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,40},{112,222}}</string>
                <key>sourceSize</key>
                <string>{224,444}</string>
            </dict>
            <key>Magic10_002497.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{532,890},{112,222}}</string>
                <key>offset</key>
                <string>{32,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,40},{112,222}}</string>
                <key>sourceSize</key>
                <string>{224,444}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic.png</string>
            <key>size</key>
            <string>{4096,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:207dee26c5ac78c041c4e50bb8ab04c3$</string>
            <key>textureFileName</key>
            <string>magic.png</string>
        </dict>
    </dict>
</plist>
